In [2]:
#Importing the dependecies 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline
from citipy import citipy

In [3]:
# Loading the file
file = "meteorite-landings.csv"

# Reading the meteor csv data file 
meteor = pd.read_csv(file)


# Displaying the data table for preview
meteor.head(5)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [4]:
meteor = meteor.rename(columns ={"recclass": "type", "fall": "discovery", "nametype": "appearance", "reclat": "lat", "reclong": "long", "GeoLocation": "coordinates"})

meteor.head()

,name,id,appearance,type,mass,discovery,year,lat,long,coordinates
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [5]:
#Dropping some unecessary columns 
meteor = meteor.drop(columns = ["id", "coordinates"])
meteor

,name,appearance,type,mass,discovery,year,lat,long
0,Aachen,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333
1,Aarhus,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333
2,Abee,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000
3,Acapulco,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000
4,Achiras,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000
5,Adhi Kot,Valid,EH4,4239.0,Fell,1919.0,32.10000,71.80000
6,Adzhi-Bogdo (stone),Valid,LL3-6,910.0,Fell,1949.0,44.83333,95.16667
7,Agen,Valid,H5,30000.0,Fell,1814.0,44.21667,0.61667
8,Aguada,Valid,L6,1620.0,Fell,1930.0,-31.60000,-65.23333
9,Aguila Blanca,Valid,L,1440.0,Fell,1920.0,-30.86667,-64.55000
10,Aioun el Atrouss,Valid,Diogenite-pm,1000.0,Fell,1974.0,16.39806,-9.57028
11,Aïr,Valid,L6,24000.0,Fell,1925.0,19.08333,8.38333
12,Aire-sur-la-Lys,Valid,Unknown,NaN,Fell,1769.0,50.66667,2.33333
13,Akaba,Valid,L6,779.0,Fell,1949.0,29.51667,35.05000
14,Akbarpur,Valid,H4,1800.0,Fell,1838.0,29.71667,77.95000
15,Akwanga,Valid,H,3000.0,Fell,1959.0,8.91667,8.43333
16,Akyumak,Valid,"Iron, IVA",50000.0,Fell,1981.0,39.91667,42.81667
17,Al Rais,Valid,CR2-an,160.0,Fell,1957.0,24.41667,39.51667
18,Al Zarnkh,Valid,LL5,700.0,Fell,2001.0,13.66033,28.96000
19,Alais,Valid,CI1,6000.0,Fell,1806.0,44.11667,4.08333
20,Albareto,Valid,L/LL4,2000.0,Fell,1766.0,44.65000,11.01667
21,Alberta,Valid,L,625.0,Fell,1949.0,2.00000,22.66667
22,Alby sur Chéran,Valid,Eucrite-mmict,252.0,Fell,2002.0,45.82133,6.01533
23,Aldsworth,Valid,LL5,700.0,Fell,1835.0,51.78333,-1.78333
24,Aleppo,Valid,L6,3200.0,Fell,1873.0,36.23333,37.13333
25,Alessandria,Valid,H5,908.0,Fell,1860.0,44.88333,8.75000
26,Alexandrovsky,Valid,H4,9251.0,Fell,1900.0,50.95000,31.81667
27,Alfianello,Valid,L6,228000.0,Fell,1883.0,45.26667,10.15000
28,Allegan,Valid,H5,32000.0,Fell,1899.0,42.53333,-85.88333
29,Allende,Valid,CV3,2000000.0,Fell,1969.0,26.96667,-105.31667
...,...,...,...,...,...,...,...,...
45686,Ysleta,Valid,"Iron, ungrouped",140700.0,Found,1914.0,31.65000,-106.18333
45687,Yucca 015,Valid,H-metal,3.0,Found,2011.0,34.81970,-114.27610
45688,Yucca 016,Valid,H5,25.9,Found,2011.0,34.82658,-114.27763
45689,Yucca 017,Valid,H5,200.0,Found,2011.0,34.81923,-114.27735
45690,Yudoma,Valid,"Iron, IVA",7600.0,Found,1946.0,60.00000,140.00000
45691,Zacatecas (1792),Valid,"Iron, ungrouped",1000000.0,Found,1792.0,22.81667,-102.56667
45692,Zacatecas (1969),Valid,"Iron, IIIAB",6660.0,Found,1969.0,NaN,NaN
45693,Zaffra,Valid,"Iron, IAB-MG",3000.0,Found,1919.0,35.00000,-94.75000
45694,Zag (b),Valid,Winonaite,300.0,Found,1999.0,27.33333,-9.33333
45695,Zagora,Valid,"Iron, IAB-ung",50000.0,Found,1987.0,30.36667,-5.85000
45696,Zakłodzie,Valid,Enst achon-ung,8680.0,Found,1998.0,50.76278,22.86611
45697,Zapaliname,Valid,"Iron, IAB-MG",85000.0,Found,1998.0,25.00944,-100.75000
45698,Zapata County,Valid,Iron,NaN,Found,1930.0,27.00000,-99.00000
45699,Zapotitlán Salinas,Valid,L4,27.7,Found,1984.0,18.33333,-97.50000
45700,Zaragoza,Valid,"Iron, IVA-an",162000.0,Found,NaN,41.65000,-0.86667
45701,Zegdou,Valid,H3,6700.0,Found,1998.0,29.75000,-4.50000
45702,Zelfana,Valid,L5,1058.0,Found,2002.0,32.15833,4.63333
45703,Zenda,Valid,"Iron, IAB complex",3700.0,Found,1955.0,42.51333,-88.48944
45704,Zerga,Valid,LL6,76.0,Found,1973.0,20.25000,-12.68333
45705,Zerhamra,Valid,"Iron, IIIAB-an",630000.0,Found,1967.0,29.85861,-2.64500
45706,Zerkaly,Valid,H5,16000.0,Found,1956.0,52.13333,81.96667
45707,Zhaoping,Valid,"Iron, IAB complex",2000000.0,Found,1983.0,24.23333,111.18333
45708,Zhigansk,Valid,"Iron, IIIAB",900000.0,Found,1966.0,68.00000,128.30000
45709,Zhongxiang,Valid,Iron,100000.0,Found,1981.0,31.20000,112.50000
45710,Zillah 001,Valid,L6,1475.0,Found,1990.0,29.03700,17.01850
45711,Zillah 002,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850
45712,Zinder,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667
45713,Zlin,Valid,H4,3.3,Found,1939.0,49.25000,17.66667
45714,Zubkovsky,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460
45715,Zulu Queen,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333